################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ControlFlowGenerator/Debug
/.vs/ControlFlowGenerator/v15
